Objective: Analyzing IoT Data with Spark Sql
The objective of this case study is to analyze sensor data, which is presented in JSON format, using Spark SQL.
Dataset (iot_devices.json): The dataset has the following attributes
Device ID
Device Name
IP Address
Cca2 – country code
Cca3 – country name
Cn – Full name of country
Latitude
Longitude
Scale
Temperature
Humidity
Battery Level
CO2 level
LCD Status
Timestamp

1. Read the data into a Dataframe.

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr
# Step a: Read the data into a DataFrame
spark = SparkSession.builder.appName("IoTAnalysis").getOrCreate()
df = spark.read.json("iot_devices.json")
df

DataFrame[battery_level: bigint, c02_level: bigint, cca2: string, cca3: string, cn: string, device_id: bigint, device_name: string, humidity: bigint, ip: string, latitude: double, lcd: string, longitude: double, scale: string, temp: bigint, timestamp: bigint]

2. Convert the Dataframe into a temporary view called iot.

In [41]:
df.createOrReplaceTempView("iot")
df

DataFrame[battery_level: bigint, c02_level: bigint, cca2: string, cca3: string, cn: string, device_id: bigint, device_name: string, humidity: bigint, ip: string, latitude: double, lcd: string, longitude: double, scale: string, temp: bigint, timestamp: bigint]

3. Count how many devices are there from each country and display the output.

In [64]:
# Step c: Count how many devices are there from each country and display the output
count_by_country = spark.sql("""
    SELECT cca3 as CountryCode, COUNT(*) as DeviceCount
    FROM iot
    GROUP BY cca3
""")
count_by_country.show()

+-----------+-----------+
|CountryCode|DeviceCount|
+-----------+-----------+
|        HTI|         12|
|        PSE|         25|
|        POL|       2744|
|        LVA|        358|
|        BRB|         38|
|        JAM|         44|
|        BRA|       3224|
|        ARM|         34|
|        MOZ|         22|
|        JOR|         46|
|        CUB|         15|
|        FRA|       5305|
|        ABW|          8|
|        TCA|          1|
|        BRN|         19|
|        BOL|        108|
|        URY|        117|
|        LBY|         16|
|        ATG|         60|
|        ITA|       2915|
+-----------+-----------+
only showing top 20 rows

4. Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.

In [56]:
# Step d: Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order
spark.sql("SELECT DISTINCT cca3,c02_level from iot where c02_level>1400 ORDER BY c02_level DESC").show()

+----+---------+
|cca3|c02_level|
+----+---------+
| PHL|     1599|
| HKG|     1599|
| CZE|     1599|
| BRA|     1599|
| IND|     1599|
| KOR|     1599|
| ESP|     1599|
| GBR|     1599|
| KAZ|     1599|
| FRA|     1599|
| MYS|     1599|
| POL|     1599|
| HUN|     1599|
| CAN|     1599|
| ROU|     1599|
| CHN|     1599|
| RUS|     1599|
| MEX|     1599|
| VNM|     1599|
| ARE|     1599|
+----+---------+
only showing top 20 rows

5. Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids (Hint: For high CO2 level, the LCD status will be RED).

In [62]:
#5. Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids (Hint: For high CO2 level, the LCD status will be RED).
high_co2_devices = spark.sql("""
    SELECT cca3 as CountryCode, device_id
    FROM iot
    WHERE c02_level > 1400 AND lcd = 'red'
    ORDER BY 'DeviceID'
""")
high_co2_devices.show()

+-----------+---------+
|CountryCode|device_id|
+-----------+---------+
|        NOR|        2|
|        ITA|        3|
|        JPN|        8|
|        USA|       10|
|        ITA|       11|
|        USA|       16|
|        USA|       17|
|        USA|       19|
|        JPN|       22|
|        CAN|       24|
|        KOR|       27|
|        KOR|       28|
|        UKR|       47|
|        SWE|       53|
|        USA|       54|
|        USA|       57|
|        USA|       64|
|        CZE|       66|
|        IND|       77|
|        KOR|       78|
+-----------+---------+
only showing top 20 rows

6. Find out all devices in countries whose batteries need replacements.

In [60]:
# Step f: Find out all devices in countries whose batteries need replacements
devices_with_low_battery = spark.sql("""
    SELECT *
    FROM iot
    WHERE battery_level < 20
""")
devices_with_low_battery.show()

+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows